/*Main*/

main{
  background-color: #efefef;
  text-align: left;
  font-size: 20px;
}
.mainSpace{
  background-color: white;
  width: 90%;
  margin: 0px auto;
  padding: 30px;
}

main h2{
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

strong{
  font-weight: 600;
}

.exeplicacao{
  font-weight: 1000;
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: unset;
}

p {
  margin-top: 5px;
}

.quebra {
  margin-bottom: 20px;
}

main img {
  display: block;
  margin: 20px auto;
  width: 600px;
  box-shadow: 3px 3px 3px gray;
}


/*Tabelas*/
table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

th,
td {
  border: 0.2px solid rgb(114, 114, 114);
  padding: 15px;
  text-align: left;
}

td{
  text-align: center;
}

th {
  background-color: grey;
  color: white;
  font-size: 25px;
  font-family: "Sedan", serif;
  text-align: center;
}

/*Fontes*/
.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.matemasie {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grey-qo {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.roman {
  font-family: "Times New Roman", Times, serif;
}

.georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bodoni {
  font-family: "Bodoni Moda SC", serif;
}

.sedan {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-weight: 100;
}
