/*Tabelas*/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

th {
  background-color: grey;
}

/*Fontes*/
.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.matemasie {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grey-qo {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.roman {
  font-family: "Times New Roman", Times, serif;
}

.georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bodoni {
  font-family: "Bodoni Moda SC", serif;
}

.sedan {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-weight: 100;
}
