main {
    padding-top: 100px; /* Adiciona um espaço no topo para evitar que o conteúdo fique atrás do cabeçalho */
}

header {
    position: fixed;
    width: 100%;
    background-color: #bdd6d4;
    box-shadow: 0px 1px 8px black;
}

#logo{
    position:sticky;
    width: 50px;
    margin-left: 40px;
}

#boxHeader {
    display: flex;
    align-items: center;
    padding-left: 30px;
}